<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="base :: common_header (~{::title}, ~{}, ~{})">
	<title th:text="#{scheduling.generate}">Generate</title>
</head>
<body>
	<div th:replace="fragments/nav.html :: navigation"></div>
	<form id="clear" class="box" th:action="@{/spreadsheet}" method="get">
		<button id="clear" type="submit" th:text="#{scheduling.generate} + ' ' + #{scheduling.and} + ' ' + #{scheduling.download}">Generate and Download</button>
	</form>
</body>
</html>
