<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title th:utext="#{navigation.dailyShifts}">Daily Shifts</title>
</head>
<body>
	<div th:insert="fragments/nav.html"></div>
	<div class="main">
		<form class="box" id="formShift" th:action="@{/shiftplanner}"
			th:object="${shiftinterval}" method="post">
			<ul>
				<li><span th:utext="#{shift.start}">Start</span>:<input class="number-input" type="number"
					name="from" min="0" max="24" value="6" /><span th:text="#{unit.hour}">Hour</span></li>
				<li><span><span th:utext="#{shift.end}">Finish</span>:<input class="number-input" type="number"
					name="to" min="0" max="24" value="18"><span th:text="#{unit.hour}">Hour</span></span></li>
				<li><span th:text="#{shift.typeAndPlateNumber}">Type and (Plate number)</span>:<select th:field="*{car}">
						<option th:each="c : ${cars}" th:value="${c.id}"
							th:text="${c.carType.name} + '(' + ${c.plateNumber} + ')'"></option>
				</select></li>
				<li>
					<button id="submit" type="submit"><i class="fa fa fa-calendar-plus-o w3-xxxtiny" th:text="#{common.add}">Add</i></button>
				</li>
			</ul>
			<span id="errorMessage" th:if="${errorKey != null}"
				th:text="#{${errorKey}}">Shift is already exist!</span>
		</form>

		<form id="generate" class="box" th:action="@{/shiftplannergenerate}"
			method="post">
			<fieldset>
				<legend th:text="#{shifts.generate}">Generate</legend>
				<button id="generate" type="submit"><i class="fa fa-plus w3-xxxtiny"></i></button>
			</fieldset>
		</form>
		<form id="clear" class="box" th:action="@{/shiftplannerclear}"
			method="post">
			<fieldset>
				<legend th:text="#{shifts.clear}">Clear</legend>
				<button id="clear" type="submit"><i class="fa fa-trash w3-xxxtiny"></i></button>
			</fieldset>
		</form>

		<article th:id="shiftElement" class="box"
			th:each="interval : ${intervals}">
			<div>
				<span th:text="#{shiftplanner.dayid}">Shift Id:</span>
				<span th:utext="${interval.dayId}">1</span>
			</div>
			<div>
				<span th:text="#{shiftplanner.interval}">Interval:</span>
				<span th:utext="${interval.from}">Start</span>-<span
				th:utext="${interval.to}">Finish</span>
			</div>
			<div>
				<span th:utext="#{car.type}">Type</span>:
				<span th:utext="${interval.car.carType.name}">Roko</span>
			</div>
			<div>
				<span th:utext="#{car.plateNumber}">Plate number</span>:
				<span th:utext="${interval.car.plateNumber}">Car</span>
			</div>
			<form th:action="@{/shiftplanner/} + ${interval.dayId} + @{/action/remove}" method="post">
				<button type="submit"><i class="fa fa fa-calendar-minus-o w3-xxxtiny" th:text="#{common.remove}">Remove</i></button>
			</form>
		</article>
	</div>
</body>
</html>