<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/employee.js"></script>
<script type="text/javascript" src="/scripts/car.js"></script>
</head>
<body>
	<div class="box cal flow">
		<span th:text="#{calendar}">Calendar</span>
		<div th:utext="${month}">January</div>
		<div th:id="${day.id}" th:onclick="${method}" class="flow tile"
			th:each="day : ${days}">
			<span th:utext="${day.id}">Day</span>
		</div>
		
		
	</div>
	<div class="box flow" id="container" th:text="#{events}">Events</div>
	<div class="flow" id="userInfo"></div>
</body>