<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<nav th:fragment="navigation" class="navbar">
		<a id="home" href="/" th:utext="#{navigation.home}">Home</a>
		<div class="dropdown">
			<button id="details" class="dropbtn" th:utext="#{common.details}">Details<i class="fa fa-caret-down"></i>
			</button><div class="dropdown-content">
				<a id="employees" href="/employees" th:utext="#{navigation.employees}">Employee</a>
				<a id="shifts" href="/shifts" th:utext="#{shifts}">Shifts</a>
			</div>
		</div>
		<div class="dropdown">
			<button id="newsDropdown" class="dropbtn" th:utext="#{navigation.new..}">New..<i class="fa fa-caret-down"></i>
			</button><div class="dropdown-content">
				<a id="newEmployee" href="/newemployee" th:utext="#{title.employee}">Employee</a>
			</div>
		</div>
		<div class="dropdown">
			<button id="planning" class="dropbtn" th:utext="#{navigation.planning}">Planning<i class="fa fa-caret-down"></i>
			</button><div class="dropdown-content">
				<a id="shiftplanner" href="/shiftplanner" th:utext="#{navigation.dailyShifts}">Daily Shifts</a>
			</div>
		</div>
		<a id="generate" href="/generate" th:utext="#{scheduling}">Scheduling</a>
	</nav>
</body>
</html>
