<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>
<body>
	<nav class="navbar">
		<a id="home" href="/" th:utext="#{home}">Home</a>
		<div class="dropdown">
			<button class="dropbtn" th:utext="#{details}">Details<i class="fa fa-caret-down"></i>
			</button><div class="dropdown-content">
				<a id="employees" href="/employees" th:utext="#{employees}">Employee</a>
				<a id="cars" href="/cars" th:utext="#{cars}">Cars</a>
				<a id="shifts" href="/shifts" th:utext="#{shifts}">Shifts</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn" th:utext="#{new..}">New..<i class="fa fa-caret-down"></i>
			</button><div class="dropdown-content">
				<a href="/newemployee" th:utext="#{employee}">Employee</a>
				<a href="/newcar" th:utext="#{car}">Car</a>
			</div>
		</div>
		<a id="generate" href="/generate" th:utext="#{generate}">Generate</a>
	</nav>
</body>