<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/nav.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<nav class="navbar">
		<a id="home" href="/" th:utext="#{home}">Home</a>
		<div class="dropdown">
			<button id="details" class="dropbtn" th:utext="#{details}">Details<i class="fa fa-caret-down"></i>
			</button><div class="dropdown-content">
				<a id="employees" href="/employees" th:utext="#{employees}">Employee</a>
				<a id="cars" href="/cars" th:utext="#{cars}">Cars</a>
				<a id="shifts" href="/shifts" th:utext="#{shifts}">Shifts</a>
			</div>
		</div>
		<div class="dropdown">
			<button id="newsDropdown" class="dropbtn" th:utext="#{new..}">New..<i class="fa fa-caret-down"></i>
			</button><div class="dropdown-content">
				<a id="newEmployee" href="/newemployee" th:utext="#{employee}">Employee</a>
				<a id="newCar" href="/newcar" th:utext="#{car}">Car</a>
			</div>
		</div>
		<div class="dropdown">
			<button id="planning" class="dropbtn" th:utext="#{planning}">Planning<i class="fa fa-caret-down"></i>
			</button><div class="dropdown-content">
				<a id="shiftplanner" href="/shiftplanner" th:utext="#{dailyShifts}">Daily Shifts</a>
			</div>
		</div>
		<a id="generate" href="/generate" th:utext="#{generate}">Generate</a>
	</nav>
</body>