<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/calendar.css">
<title th:text="#{employee}">Employee</title>
</head>
<body>
	<div th:insert="/fragments/nav.html"></div>
	<article class="box">
		<div th:utext="${employee.name}">Name</div>
		<div th:utext="#{${employee.job}}">Job</div>
	</article>
	<div th:insert="/fragments/calendar.html"></div>
</body>
</html>