<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title th:utext="#{newEmployee}">New Employee</title>
</head>
<body>
	<div th:insert="fragments/nav.html"></div>
	<form class="box" th:action="@{/newemployee}" th:object="${newemployee}" method="post">
		<input type="text" name="name" th:placeholder="#{name}" autocomplete="off" autofocus="autofocus">
		<br>
		<select name="job">
			<option th:each="state : ${T(hu.wirthandras.shifts.domain.Job).values()}"
				th:value="${state}"	th:text="#{${state}}">
			</option>
		</select>
		<br>
		<input type="submit" th:value="#{submit}">
	</form>
</body>
</html>