<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head.html :: header (pageTitle='title.newEmployee')">
</head>
<body>
	<div th:replace="fragments/nav.html :: navigation"></div>
	<form class="box" th:action="@{/newemployee}" th:object="${newemployee}" method="post">
		<input type="text" name="name" th:placeholder="#{employee.name}" autocomplete="off" autofocus="autofocus">
		<br>
		<select th:field="*{job.id}">
			<option th:each="job : ${jobs}"
				th:value="${job.id}"	th:text="#{${job.name}}">
			</option>
		</select>
		<br>
		<input type="checkbox" name="night" value="true" th:text="#{employee.night}">
		<div>
			<span th:text="#{employee.monthlyHours}">Default Monthly hours:</span>
			<span>:</span>
			<input type="number" name="monthlyHours" th:value="${defaultMonthlyHours}">
			<span th:text="#{unit.hour}">Hour</span>
		</div>
		<input type="submit" th:value="#{common.add}">
	</form>
</body>
</html>