.cal {
	width: 400px;
	background-color: #d2efdb;
	overflow: auto;
	border: 1px thin;
	border-color: #bad3c2;
	padding: 5px;
}

.text {
	color: #ced6a9;
}

.tile {
	background-color: gray;
	color: black;
	min-width: 40px;
	min-height: 40px;
	padding: 10px;
	margin: 3px;
}

.event {
	background-color: red !important;
}

.tile:hover {
	box-shadow: 2px 2px 2px 1px #77a886;
}

.tile:focus {
	box-shadow: 2px 2px 2px 1px #0000ff;
}

.flow {
	float: left;
}

body {
	background-color: #ededed
}