.box {
	width: 200px;
    border: 1px solid green;
    border-color: #b272b0; 
    background-color: #c97ac6;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.box:hover {
   background-color: #845283;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

