<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/button.css">
	<title>Page Title</title>
</head>
<body>
	<p>Műszakok</p>
	<article class="box blue" th:each="shift : ${shifts}">
		<span th:utext="${#dates.format(shift.date, 'yyyy-MM-dd')}">Dátum</span>
		<span th:utext="${shift.start}">Kezdődik</span>-<span th:utext="${shift.end}">Vége</span>
	</article>
</body>
</html>