<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/calendar.css">
<title th:utext="#{title.car}">Car</title>
</head>
<body>
	<div th:insert="fragments/nav.html"></div>
	<article class="box">
		<span th:utext="${car.plateNumber}">Plate number</span> <span
			th:utext="${car.carType}">Type</span>
	</article>
	<div th:insert="fragments/calendar.html"></div>
	<div class="box">
		<form th:action="@{/carevent}" th:object="${newevent}" method="post">
		<select name="eventType">
			<option th:each="state : ${T(hu.wirthandras.shifts.domain.car.CarEventType).values()}"
				th:value="${state}"	th:text="#{${state}}">
			</option>
		</select>
		<input type="hidden" id="dayId" name="dayId" value="-1">
		<input type="hidden" id="carId" name="carId" th:value="${car.id}">
		<input type="submit" name="actionAdd" th:value="#{common.add}">
		<input type="submit" name="actionRemove" th:value="#{common.remove}">
	</form>
	</div>
</body>
</html>