<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/button.css">
<title>Page Title</title>
</head>
<body>
	<h1>Kocsik</h1>
	<a href="newcar" class="box blue">New Car</a>
	<article th:each="car : ${cars}" class="box blue">
		<span th:utext="${car.plateNumber}">Rendszám</span><br>
		<span th:utext="${car.carType}">Típus</span><br>
		<a th:href="@{/car/} + ${car.id}">Link</a>			
	</article>
</body>
</html>