<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head.html :: header (pageTitle='navigation.cars')">
</head>
<body>
	<div th:replace="fragments/nav.html :: navigation"></div>
	<div>
		<article th:each="car : ${cars}" class="box">
			<span th:utext="${car.plateNumber}">Plate number</span><br>
			<span th:utext="${car.carType.name}">Type</span><br>
			<a th:href="@{/car/} + ${car.id}" th:utext="#{common.details}">Details</a>
		</article>
	</div>
</body>
</html>