<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title th:utext="#{newCar}">New Car</title>
</head>
<body>
	<div th:insert="fragments/nav.html"></div>
	<form id="newCarForm" class="box" th:action="@{/newcar}" th:object="${newcar}" method="post">
		<input id="plateNumber" type="text" name="plateNumber" th:placeholder="#{plateNumber}">
		<span id="errorMessage" th:if="${#fields.hasErrors('plateNumber')}">
  			<span th:each="err : ${#fields.errors('plateNumber')}" th:text="#{${err}}">Input plate number format</span>
		</span>
		<span id="errorMessage" th:if="${errorKey != null}" th:text="#{${errorKey}}">Shift is already exist!</span>
		<br>
		<span th:utext="#{type}">Type</span>:<br>
		<select id="carTypeDropdown" name="carType">
			<option th:each="state : ${T(hu.wirthandras.shifts.domain.car.CarType).values()}"
				th:value="${state}"	th:text="${state}">
			</option>
		</select>
		<br>
		<input id="submit" type="submit" th:value="#{submit}">
	</form>
</body>
</html>