<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head.html :: header (pageTitle='title.newCar')">
</head>
<body>
	<div th:replace="fragments/nav.html :: navigation"></div>
	<form id="newCarForm" class="box" th:action="@{/newcar}"
		th:object="${newcar}" method="post">
		<input id="plateNumber" type="text" name="plateNumber"
			th:placeholder="#{car.plateNumber}">
		<div id="errorbox">
			<ul id="errorMessage" th:if="${#fields.hasErrors('plateNumber')}">
				<li th:each="err : ${#fields.errors('plateNumber')}" th:text="#{${err}}">Input plate number format</li>
			</ul>
			<ul th:if="${#fields.hasErrors('global')}">
				<li th:each="err : ${#fields.errors('global')}" th:text="${err}">Shift is already exist!</li>
			</ul>
		</div>
		<div>
			<span th:utext="#{car.type}">Type</span>:<br>
			<select	th:field="*{carType.id}" id="carTypeDropdown">
				<option	th:each="type : ${carTypes}"
					th:value="${type.id}" th:text="${type.name}"></option>
			</select>
		</div>
		<input id="submit" type="submit" th:value="#{common.add}">
	</form>
</body>
</html>