<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title th:utext="#{newCar}">New Car</title>
</head>
<body>
	<div th:insert="fragments/nav.html"></div>
	<form class="box" th:action="@{/newcar}" th:object="${newcar}" method="post">
		<input type="text" name="plateNumber" th:placeholder="#{plateNumber}">
		<span th:if="${#fields.hasErrors('plateNumber')}">
  			<span th:each="err : ${#fields.errors('plateNumber')}" th:text="#{${err}}">Input plate number format</span>
		</span>
		<br>
		<span th:utext="#{type}">Type</span>:<br>
		<select name="carType">
			<option th:each="state : ${T(hu.wirthandras.shifts.domain.car.CarType).values()}"
				th:value="${state}"	th:text="${state}">
			</option>
		</select>
		<br>
		<input type="submit" th:value="#{submit}">
	</form>
</body>
</html>